* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

/* navbar */
.navbar{
    background-color:black;
    color:red;
}

/* Hero Styling */
.hero {
    min-height: 100vh;
    background-color: deeppink;
}